@import "compass/reset"
@import "compass/css3/border-radius"
@import "compass/css3/images"
@import "compass/css3/text-shadow"

$site_width: 960px

.content
  width: $site_width
  margin: auto

#header
  background-color: #1a1a1a
  a
    text-decoration: none
  h1
    padding: 20px
    color: #777
    font-size: 2.2em
    +single-text-shadow(black, 2px, 2px, 0px)
.bar
  background-color: #777
  height: 1px

#language_selector
  height: 30px
  margin: auto
  text-align: center
  @include background(linear-gradient(top, #555, #222))
  @include border-radius(0px 0px 9px 9px)
  a 
    color: #777
    padding-left: 4px
    padding-right: 4px
  font-size: 1.2em
  padding: 10px 8px 5px
  text-decoration: none
  +single-text-shadow(black, 2px, 2px, 0px)
  .selected
    color: white

ol.fonts
  margin: auto
  margin-top: 30px
  text-align: center
  li.font
    height: 80px
    a
      font-size: 4em
      color: #0a0a0a
      text-decoration: none

#code_snippet
  font-size: 1.2em
  h1
    font-size: 4em
    padding-left: 3px
    margin-top: 14px
    margin-bottom: 14px
