%div#container

:javascript
  Progfonts.fonts = #{Font.to_json};
  Progfonts.languages = #{Language.to_json};
  Progfonts.selectedFont = "#{@font.unix_name}";
  Progfonts.selectedLanguage = "#{@language}";
  Progfonts.renderTo($('#container'));
